extends layout 
block content 
    form(action="/", method="post") 
        input(type="email" name="email" placeholder="Enter Your Email")
        p#click Click here to start test
        button Start