extends layout

block content
  h1.center MCQ Test
  div.test-container.center
    form(action='/test', method='post' class="center")
        each question in questions
            div.question
                p #{question.text}
                if question && question.text && question.options && question.options.length
                    div.options
                        each option, i in question.options
                            label
                                input(type='radio', name=`answer${question._id}`, value=i) 
                                | #{option}
                else
                    p Error: Invalid question format
        button(type='submit') Submit
