html
  head
    title MCQ Test
    link(rel='stylesheet', href='../static/style.css')
  body
    .head.center
      h1 DSAII
      img(src="../static/480px-Pan_Blue_Circle.png", alt="The DSAII CLUB LOGO")
    block content
    script(src="../static/script.js") 
